body {
  font-size: 14px;
}

nav {
  background-color: yellow; /* hyphen added to background-color */
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section { /* updates to syntax have been added */
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif; /* font-family needed a colon */
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

.example {
  padding-top: 30px;
  text-align: center;
}

.element {
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* To give a light red color to the third to last div. */
.red {
  background-color: #FFB1BB;
}

/* To give a light green color to the second to last div. */
.green {
  background-color: #E6FFE6;
}

/* To give a light blue color to the last div. */
.blue {
  background-color: #B5D5FF;
}
